{% extends "base.html" %}

{% block content %}

 <div class="image-container">
    <div class="folder-header">
        <h6 style="font-size: 60px;">{{ folder.name }}</h6>
        <p><a href="{% url 'folder_list' %}" >Back to Gallery</a></p>
    </div>
    <br><br>
    <div class="image-row">
        {% for image in images %}
        <div class="image-item">
            <a href="{% url 'image_detail' image.id %}">
                <img src="{{ image.image.url }}">
            </a>
            {% empty %}
            <p>No images available in this folder.</p>
            <div>
        {% endfor %}
    </div>
    <br><br>
</div>
{% endblock %}
